<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th *ngFor="let column of columns">{{ column }}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let accountName of Object.keys(accountsData)">
    <ng-container *ngFor="let transaction of accountsData[accountName]">
      <tr>
        <td>{{ transaction.completedDate }}</td>
        <td>{{ transaction.description }}</td>
        <td *ngFor="let column of columns">
          <ng-container *ngIf="accountName === column">{{ transaction.amount }}</ng-container>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
