<table>
  <thead>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th *ngFor="let column of columns">{{ column }}</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iterate over each transaction, ordered by datetime -->
  <ng-container *ngFor="let transaction of sortedTransactions">
    <tr>
      <td>{{ transaction.datetime }}</td>
      <td>{{ transaction.description }}</td>
      <!-- For each column, check if the transaction belongs to that column -->
      <td *ngFor="let column of columns">
        <ng-container *ngIf="accountsData[column].includes(transaction)">
          {{ transaction.amount }}
        </ng-container>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
