<table mat-table [dataSource]="sortedTransactions" class="mat-elevation-z8">

  <!-- Date Column -->
  <ng-container matColumnDef="datetime">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.datetime }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.description }}</td>
  </ng-container>

  <!-- Dynamically Generated Columns -->
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let transaction">
      <ng-container *ngIf="accountsData[column].includes(transaction)">
        {{ transaction.amount }}
      </ng-container>
    </td>
  </ng-container>

  <!-- Header row -->
  <tr mat-header-row *matHeaderRowDef="getHeaderColumns()"></tr>

  <!-- Data rows -->
  <tr mat-row *matRowDef="let row; columns: getHeaderColumns();"></tr>
</table>
